__pycache__/
*.py[cod]
*.pyo
.venv/
env/
venv/
.env
.pytest_cache/
logs/
*.log
*.pid
.vscode/
.DS_Store
.ipynb_checkpoints/
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.mypy_cache/
.dmypy.json
.pyre/